---
layout: default
title: Updates
---

<main class="content" role="main">

  <article>
    <h1>Recent Updates</h1>
  </article>

  {% for post in site.posts %}

  <article class="preview">
    <header>
      <h2 class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <br>
        <span class="post-meta">
          <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
            {{ post.date | date: "%B %d, %Y" }}
          </time>
        </span>
      </h2>
    </header>
  </article>

  {% endfor %}

  {% include pagination.html %}

</main>
