{{!< default}}

<main class="content" role="main">

<article class="{{post_class}}">

  <section class="post-content">
    <h2>What is Open Wichita?</h2>

    <p>An initiative to bring the benefits of open data to Wichita. Open data is the idea that all publicly collected data should be freely available to use and redistribute by anyone interested in doing so. When local governments and businesses start opening up their data sets for others to use, amazing things can happen.</p>

    <h2>Why is this important?</h2>

    <p>Implementing an utilizing an open data policy within a city has numerous positive effects, including:</p>

    <ul>
      <li>Fostering <a href="http://beyondtransparency.org/chapters/part-1/ashvilles-open-data-journey-pragmatics-policy-and-participation/">economic growth</a> opportunities</li>
      <li>Better <a href="http://beyondtransparency.org/chapters/part-4/beyond-open-data-the-data-driven-city/">decision making and resource utilization</a> through data visualization</li>
      <li><a href="http://www.w3.org/2013/share-psi/workshop/samos/">Increased government efficieny</a> through data reuse within departments</li>
      <li>Increased public safety through the <a href="http://sanfrancisco.crimespotting.org/">utilization of crime information</a></li>
      <li>Creating <a href="http://hbswk.hbs.edu/item/7393.html">trust between government and citizens</a> through transparency</li>
      <li><a href="http://www.codeforamerica.org/blog/2012/11/06/city-of-chicago-adopts-flu-shot-app-built-by-civic-hackers/">Citizen participation</a> through tools made possible by open data</li>
    </ul>

    <h2>How can I contribute?</h2>

    <p>Open Wichita needs all the help it can get from talents of all kinds! Designers, developers, marketers, individuals plugged into local politics, and anyone with a passion for transparent government and open data.</p>

    <p>That said, things are just getting start with Open Wichita. Initial discussions are still happening to get things rolling. In the mean time, stay connected with <a href="http://devict.org" title="devICT">devICT</a>, the local Wichita developer community, to hear about when things are happening.</p>

    <p>If you have any questions, comments, concerns whatsoever, or if you just want to be involved in some form or fashion, feel free to email sethetter [at] gmail.</p>

    <h2>Further Reading & Resources</h2>

    <ul>
      <li><a href="http://opendatahandbook.org/en/what-is-open-data/" title="What Is Open Data">What Is Open Data</a></li>
      <li><a href="http://www.codeforamerica.org/" title="Code For America">Code For America</a></li>
      <li><a href="http://hackforchange.org/" title="National Day of Civic Hacking">National Day of Civic Hacking</a></li>
      <li><a href="http://www.data.gov/" title="National Open Data Portal">National Open Data Portal</a></li>
      <li><a href="https://www.codeforamerica.org/governments/principles/open-data/#success-stories" title="Open Data Success Stories">More Open Data Success Stories</a></li>
      <li><a href="https://www.cityoftulsa.org/our-city/open-tulsa/about-open-tulsa.aspx" title="Open Data in Tulsa">Open Data in Tulsa</a></li>
      <li><a href="http://www.houstontx.gov/mayor/press/city-houston-launches-open-data-policy" title="Open Data in Houston">Open Data in Houston</a></li>
    </ul>

    <h2>Let's talk!</h2>

    <p>Discussion is happening in the Open Wichita Slack team. Put in your email address below to receive an invite.</p>
    <script async defer src="http://talk.openwichita.com/slackin.js?large"></script>
  </section>

</article>

</main>
